{% extends 'main_1.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
                    -----------------------------------------------------------------------------------------------------------------------------------------------------------------
            <div class="card mb-4" >
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Discount
<a href="{% url 'create_discount' %}">Add</a>
</div>
<div class="card-body">
    <table id="datatablesSimple">
    
    <thead>
        <tr>
            <th>Coupon Code</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Rate</th>
            <th>Used</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Coupon Code</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Rate</th>
            <th>Used</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    <tbody>
        {% for entry in data %}
        <tr>
            <td>{{ entry.coupon_code }}</td>
            <td>{{ entry.start_date }}</td>
            <td>{{ entry.end_date}}</td>
            <td>{{ entry.rate }}</td>
            <td>{{ entry.used }}</td>
            <td>
                <a href="{% url 'update_discount'  entry.coupon_code %}">Update</a>
                <a href="{% url 'delete_discount' entry.coupon_code %}">Delete</a>
            </td>
        </tr>
        {% endfor %}  
    </tbody>
</table>
</div>
</div>
</div>
</main>
{% endblock content %}