{% extends 'main_1.html' %}

{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
                    -----------------------------------------------------------------------------------------------------------------------------------------------------------------
            <div class="card mb-4" >
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
        Location  
        {% if request.user.is_staff %}
        <a href="{% url 'create_location' %}">Add</a>
        {% endif %}
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Pincode</th>
                    <th>Phone</th>
                    {% if request.user.is_staff %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
          
            <tbody>
                {% for entry in data %}
                <tr>
                    <td>{{ entry.street }}</td>
                    <td>{{ entry.city }}</td>
                    <td>{{ entry.state }}</td>
                    <td>{{ entry.pincode }}</td>
                    <td>{{ entry.phone_no }}</td>
                    {% if request.user.is_staff %}
                    <td>
                        <a href="{% url 'update_location'  entry.location_id %}">Update</a>
                        <a href="{% url 'delete_location' entry.location_id %}">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>
</div>
</div>
</main>
{% endblock content %}