<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
</head>

<body>

    {% include 'navbar_1.html' %}
    {% include 'sidebar_1.html' %}

    <div class="bottom-nav">
        <div class="main">
    {% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>
            {{message}}
        </li>
        {% endfor %}
    </ul>

    {% endif %}
    {% endblock %}
        </div>
    </div>

    <!-- <script src="{% static 'js/script.js' %}"></script> -->
</body>

</html>