<!DOCTYPE html>
{% load static %}
<html lang="en">



<header>
            <div class="container">
                <nav>
                  <ul>
                    <li><div class="header__user"><p><a href="{% url 'home' %}">Home</a></p></div></li>
                    <li><div class="header__user"><p><a href="{% url 'service' %}">Book Service</a></p></div></li>
                    
                    {% if request.user.is_authenticated %}
                    <li><div class="header__user"><p><a href="{% url 'display' %}">My Services</a></p></div></li>
                    <li><div class="header__user"><p><a href="{% url 'logout' %}">Logout @{{request.user.username}}</a></p></div></li>
                    {% else %}
                    <li><div class="header__user"><p><a href="{% url 'login' %}">Login</a></p></div></li>
                    {% endif %}
                  </ul>
                </nav>
            </div>
</header>



